<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Operations</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>
    <h1>Task Operations</h1>
    <button onclick="window.location.href = '/create';">Create Task</button><br/><br/>
    <button onclick="window.location.href = '/assignee';">Search Top 10 Records by Assignee</button><br/><br/>
    <button onclick="window.location.href = '/tasks';">Search All Tasks</button><br/><br/>
    <button onclick="window.location.href = '/delete';">Delete Task</button><br/><br/>
</body>
</html>
